<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>testPolicy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertarProveedor</display-name>
    <servlet-name>InsertarProveedor</servlet-name>
    <servlet-class>InsertarProveedor</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>BorrarProveedor</display-name>
    <servlet-name>BorrarProveedor</servlet-name>
    <servlet-class>BorrarProveedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertarProveedor</servlet-name>
    <url-pattern>/InsertarProveedor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BorrarProveedor</servlet-name>
    <url-pattern>/BorrarProveedor</url-pattern>
  </servlet-mapping>
</web-app>